---
import type { CardItem, ServiceType } from "../../data/types";
import Icon from "../ui/Icon.astro";

interface Props {
  item: CardItem;
  serviceType?: ServiceType;
}

const { item, serviceType } = Astro.props;
const iconClass = serviceType === "ac" ? "card__icon card__icon--ac" : "card__icon";
---

<article class="card">
  <span class={iconClass} aria-hidden="true"><Icon name={item.icon} /></span>
  <h3 class="card__title">{item.title}</h3>
  <p class="card__description">{item.description}</p>
</article>
