---
import type { ServiceSummaryCardData } from "../../data/types";
import SectionHeader from "../ui/SectionHeader.astro";
import ServiceCard from "../cards/ServiceCard.astro";

interface Props {
  id?: string;
  title: string;
  description?: string;
  services: ServiceSummaryCardData[];
}

const { id, title, description, services } = Astro.props;
---

<section class="section section--white" id={id}>
  <div class="container">
    <SectionHeader title={title} description={description} />
    <div class="grid grid--2">
      {services.map((item) => <ServiceCard item={item} />)}
    </div>
  </div>
</section>
