---
import MetaTags from "../components/seo/MetaTags.astro";
import "../styles/tokens.css";
import "../styles/global.css";
import "../styles/layout.css";
import "../styles/components.css";
import "../styles/utilities.css";
import type { PageData } from "../data/types";

interface Props {
  page: PageData;
}

const { page } = Astro.props;
---

<html lang="id">
  <head>
    <MetaTags seo={page.seo} />
  </head>
  <body data-page-type={page.type} class="has-mobile-bottom-cta">
    <slot />
  </body>
</html>
